.Footer {
    background-color: #DDDEE1;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 0;
    left: 0;
  }

  .Button {
    background-color: #0383f3;
    padding: 15px 20px;
    border-radius: 3px;
    color: #fff;
    border: none;
    font-size: 0.80em;
    transition: 0.2s;
  }

  .Button:hover {
    background-color: #0975d3;
  }

